.sidenav{
    background-color: #00704A;
    width: 200px;
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.nav-list a{
    font-weight: bold;
}

.content{
    display: flex;
}
