$backgroundColor: #00704A;

.sidenav{
    background-color: $backgroundColor;
    width: 200px;
    a{
        color: #fff;
    }
    i{
        padding-right: 10px;
    }
}



.nav-list a{
    font-weight: bold;
}

.content{
    display: flex;
    background: linear-gradient( #ddd, #fff );
    
}
