$backgroundColor: #00704A;

@mixin displayContent($name, $position){
    display: #{$name};
    align-items: #{$position}
}

.header{
    @include displayContent("flex", center);
    background-color: rgba($backgroundColor, 0.3);
    @media screen and (max-width: 500px){
        background-color: saddlebrown;
    }

    a{
        @include displayContent("flex", center);
        text-decoration: none;
    }
    i{
        padding-right: 5px;
    }
    .logo{
        max-height: 58px;
    }
    .title-group{
        padding-left: 25px;
    }

}



